<form>
    <div class="row mb-2">
        <div class="col-4">
            <label for="message" class="form-label">Type your message</label>
            <input autocomplete="off" type="text" name="messageToSend" [(ngModel)]="messageToSend" id="message"
                class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            <button (click)="sendMessage()" class="btn btn-primary">Send Message</button>
        </div>
    </div>
</form>

<div class="row mb-2">
    <div class="col-6">
        @if (messages.length) {
        <ul class="list-group">
            @for (message of messages; track message) {
            <ng-container>
                @if (message.type === 'Sent') {
                <li class="list-group-item list-group-item-primary">
                    <i class="bi-send"></i>
                    {{message.message}}
                </li>
                }
                @else {
                <li class="list-group-item list-group-item-success">
                    <i class="bi-envelope"></i>
                    {{message.message}}
                </li>
                }
            </ng-container>
            }
        </ul>
        }
        @else {
        <h2>No messages yet</h2>
        }
    </div>
</div>